
<form action="/answer" method="GET" class="text-center">
  <label for="question">Speak to your coach</label>

  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!" class="btn btn-primary">
</form>
